body {
  font-family: 'Work Sans', sans-serif;
}

.page-wrapper {
  width: 95%;
  max-width: 1500px;
  margin: 20px auto;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
}

.card-img-top {
  max-height: 250px;
}

.card {
  border: none;
}

.left-column {
  width: 90%;
}