body {
  font-family: 'Work Sans', sans-serif;
}

.page-wrapper {
  width: 95%;
  max-width: 1500px;
  margin: 20px auto;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
}

.card-img-top {
  height: 100%;
}

.card {
  /* border: none; */
}

a, a:hover {
  text-decoration: none;
  color: white;
}
